<div id="header">
    <nav class="navbar navbar-default navbar-gx navbar-fixed-top">
        <div class="container">
            <div class="row row-eq-height">
                <div class="col-md-8">
                    <ul class="nav navbar-nav">
                        <li>
                            <a class="nav-header" href="#!/home">{{"HEADER.HOME" | translate}}</a>
                        </li>
                        <li>
                            <a class="nav-header" href="#!/lobby">{{"HEADER.LOBBY" | translate}}</a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-2">
                    <a class="btn btn-default" href="#!/registration">{{"HEADER.SIGN_UP" | translate}}</a>

                </div>
                <div class="col-md-2">
                    <div class="language-switcher">
                        <button class="btn btn-default" ng-click="switchLanguage('en')">en</button>
                        <button class="btn btn-default" ng-click="switchLanguage('ru')">ru</button>
                    </div>
                </div>
            </div>
        </div>
    </nav>
</div>